html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Ubuntu", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background: url(images/background.jpeg) no-repeat center center fixed;
  background-size: cover;
  background-color: beige;
}

.background {
  height: 100%;
  background-color: beige;
  color: black;
  padding: 2%;
  margin: 0 10% 0 10%;
  border-radius: 10px;
}

.github {
  display: flex;
  justify-content: center; /* Aligns horizontally in the center */
  align-items: center; /* Aligns vertically in the center */
  background-color: #8b949e;
  padding: 10px;
  margin: 20px auto; /* Vertical margins of 20px and auto horizontal margins to center the div */
  width: fit-content; /* Sets the width to the content of the button */
  border-radius: 4px; /* Optional: Adds rounded corners to the div */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Optional: Adds a shadow for a 3D effect */
}

.github a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 3rem;
    padding: 10px 20px;
    display: block;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transition for background color and transform */
  }
  
  .github a:hover {
    background-color: #57606a; /* Darker shade of the button color for hover */
    transform: scale(1.05); /* Slightly increase the scale to give a popping effect */
    cursor: pointer; /* Changes the cursor to a pointer to indicate it's clickable */
    border-radius: 4px;
  }
  

.background h1 {
  text-align: center;
  font-size: 2em;
  margin-top: 50px;
  padding: 5px 0 5px 0;
}

.background h2 {
  font-size: 2em;
}

.background p {
  font-size: 1.25em;
  font-family: "Libre Franklin";
}
