html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Ubuntu", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background: url(/static/images/background.jpeg) no-repeat center center fixed;
  background-size: cover;
  background-color: #e7e7d9;
}

.background {
  background-color: rgba(
    255,
    255,
    255,
    .95
  ); 
  color: #333; 
  padding: 2%;
  margin: 0 10% 0 10%; 
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  overflow: hidden; 
}

.github {
  display: flex;
  justify-content: center; 
  align-items: center;
  margin-bottom: 50px;
  gap: 10px;
}

.github a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    display: inline-block;
    margin: 0; 
    padding: 0;
    background-color: #8b949e;
    padding: 10px 20px;
    margin: 20px auto;
    border-radius: 4px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
  }
  
  .github a:hover { 
    background-color: #57606a; 
    transform: scale(1.05); 
    transition: background-color 0.3s ease, transform 0.3s ease; 
    cursor: pointer;
    border-radius: 4px; 
  }

.background h1 {
  text-align: center;
  font-size: 2.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  color: #0056b3; 
  font-family: "Ubuntu", sans-serif;
}

.background h2 {
  font-size: 1.75em;
  color: #004080; 
}

.background p {
  font-size: 1.5em;
  font-weight: 900;
  line-height: 1.6;
  margin-bottom: 1em;
  text-align: justify;
  font-family: "Libre Franklin", sans-serif;
}

@media (max-width: 768px) {
  .background {
    margin: 0 5%; 
  }
}

@media only screen and (max-width: 430px) and (orientation: portrait) {
  * {
    font-size: .75rem;
  }

  .background {
    padding: 0 2rem;
  }

  .github {
    margin-bottom: 0;
  }

  .github a{
    font-size: 2em;
  }

}

@media only screen and (max-width: 844px) and (orientation: landscape) {



  .background {
    padding: 0 2rem;
  }

  .background p {
    font-size: .9rem;
  }

  .github {
    margin-bottom: 0;
  }

  .background a {
    font-size: 1px;
  }


}

@media only screen and (max-width: 932px) and (orientation: landscape) {


  .background {
    padding: 0 2rem;
  }

  .background p {
    font-size: .9rem;
  }


  .github {
    margin-bottom: 0;
  }

  .github a{
    font-size: 1.5em;
  }


}