html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Ubuntu", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #e7e7d9;
}

/* New Nav-Bar */

header li, a, button {
  /* color: #edf0f1; */
  /* color: #020035; */
  color: #e7e7d9;
  text-decoration: none;
}

header { 
  display: flex; 
  justify-content: space-between;
  align-items: center;
  background-color: #020035;
  /* background-color: #e7e7d9; */

}

.logo-container {
  cursor: pointer;
  /* background-color: #e7e7d9; */
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.logo-container:hover h1 {
  transition: all 0.3s ease 0s;
  color: #0088a9;
}

.logo-container img{
  display: inline-block;
  margin-bottom: -1.5rem;
  width: 75px;
  height: 75px;
}

.logo-container h1 {
  display: inline-block;
  color: #e7e7d9;
  margin-left: -0.5rem;
}

.nav-links {
  list-style: none;
  font-size: 2rem;
  margin-left: -12.5rem; 
}

.nav-links li {
  display: inline-block;
  padding: 0px 4.5rem;
}

.nav-links li a{
  transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
  color: #0088a9
}

header button {
  padding: 0.75rem 1.25rem;
  background-color: #e7e7d9;
  color: #020035;
  font-size: 1.75rem;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  font-family: "Ubuntu", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
  "Lucida Sans", Arial, sans-serif;
  margin-right: 3rem;
}

header button:hover {
  background-color: rgba(0, 136, 169, 0.8);
}

/* Footer */

footer {
  background-color: #e7e7d9;
  font-weight: bold;
  text-align: center;
  padding: 0.625rem;
}

@media only screen and (max-width: 430px) and (orientation: portrait) {

  header a button{
    display: none;
  }

  .logo-container h1{
    font-size: 1.5rem;
  }

  .logo-container img{
    display: inline-block;
    margin-bottom: -1.2rem;
    width: 50px;
    height: 50px;
  }

  #home-but {
    display: none;
  }

  #about-but {
    margin-left: 200%;
    font-size: 1.25rem;
  }

  #tut-but {
    display:none;
  }

  .nav-links li {
    padding: 0px 1rem;
    margin-right: 0;
  }
  
}

@media only screen and (max-width: 697px) and (orientation: landscape) {

  header {
    padding-bottom: .5rem;
  }

  .logo-container a h1 {
    font-size: 1.1rem;
  }

  .nav-links {
    margin: 0 auto;
  }

  .nav-links li{
    padding: 0;
    margin-right: 0;
  }

  .nav-links li a {
    font-size: .1rem;
  }

  header a button {
    font-size: 1rem;
  }
  
  header button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
  }

}


@media only screen and (max-width: 751px) and (orientation: landscape) {

  header {
    padding-bottom: .5rem;
  }

  .logo-container a h1 {
    font-size: 1.25rem;
  }

  .nav-links {
    margin: 0 auto;
  }

  .nav-links li{
    padding: 0px 1rem;
    margin-right: 0;
  }

  header a button {
    font-size: 1rem;
  }
  
  header button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
  }

}

@media only screen and (max-width: 729px) and (orientation: landscape) {

  header {
    padding-bottom: .5rem;
  }

  .logo-container a h1 {
    font-size: 1.1rem;
  }

  .nav-links {
    margin: 0 auto;
  }

  .nav-links li a{
    padding: 0;
    margin-right: 0;
    font-size: 1rem;
  }

  header a button {
    font-size: 1rem;
  }
  
  header button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
  }

}
@media only screen and (max-width: 932px) and (orientation: landscape) {

  header {
    padding-bottom: .5rem;
  }

  .logo-container a h1 {
    font-size: 1.1rem;
  }

  .nav-links {
    margin: 0 auto;
  }

  .nav-links li a{
    padding: 0;
    margin-right: 0;
    font-size: 1rem;
  }

  header a button {
    font-size: 1rem;
  }
  
  header button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
  }
}

@media only screen and (max-width: 932px) and (orientation: landscape) {


  header {
    padding-bottom: .5rem;
  }

  .logo-container h1 {
    font-size: 1.5rem;
  }

  .nav-links {
    margin: 0 auto;
  }

  .nav-links li{
    padding: 0px 1rem;
    margin-right: 0;
  }

  header a button {
    font-size: 1rem;
  }
  
  header button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
  }

}