html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Ubuntu", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #e7e7d9;
}

/* New Nav-Bar */

header li, a, button {
  /* color: #edf0f1; */
  /* color: #020035; */
  color: #e7e7d9;
  text-decoration: none;
}

header { 
  display: flex; 
  justify-content: space-between;
  align-items: center;
  background-color: #020035;
  /* background-color: #e7e7d9; */

}

.logo-container {
  cursor: pointer;
  /* background-color: #e7e7d9; */
  padding-right: 25px;
  padding-left: 25px;
}

.logo-container:hover h1 {
  transition: all 0.3s ease 0s;
  color: #0088a9;
}

.logo-container img{
  display: inline-block;
  margin-bottom: -25px;
  width: 75px;
  height: 75px;
}

.logo-container h1 {
  display: inline-block;
  color: #e7e7d9;
  margin-left: -10px;
}

.nav-links {
  list-style: none;
  font-size: 2rem;
  margin-left: -200px; 
}

.nav-links li {
  display: inline-block;
  padding: 0px 75px;
}

.nav-links li a{
  transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
  color: #0088a9
}

header button {
  padding: 10px 20px;
  background-color: #e7e7d9;
  color: #020035;
  font-size: 1.75rem;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  font-family: "Ubuntu", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
  "Lucida Sans", Arial, sans-serif;
  margin-right: 50px;
}

header button:hover {
  background-color: rgba(0, 136, 169, 0.8);
}

/* Footer */

footer {
  font-weight: bold;
  text-align: center;
  padding: 10px;
}