/* Welcome Banner */
.welcome {
  background: url(/static/images/background.jpeg);
  background-size: cover;
  background-position: center;
  padding-top: 3rem;
  padding-bottom: 4.5rem;
  padding-left: 3rem;
  margin-bottom: 0;
  color: #e7e7d9;
  font-weight: bolder;
}

.welcome-text {
  margin-bottom: 3rem;
}

.welcome-text h1 {
  font-size: 2.5rem;
}

.welcome-text p {
  width: 32%;
  font-size: 2rem;
}

.exchange-name {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 2.2rem;
}

.exchange-name:hover {
  text-decoration: underline;
}

#learn {
  float: right;
  margin-right: 10%;
  margin-top: -5rem;
  font-size: 2.2rem;
  background-color: #f5f5f5;
  padding: 2rem;
  text-decoration: none;
  color: #020035;
  font-weight: bold;
  border-radius: 1.5rem;
}

#learn:hover {
  background-color: #14191e;
  color: #f5f5f5;
  transform: scale(1.05);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

/* Connect */

.connect-section {
  text-align: center;
  background-color: white;
  color: #020035;
  font-size: 1.25rem;
}

.connect-section h2 {
  font-size: 2.2rem;
  margin-bottom: 1.5rem;
}
#instructions {
  margin-top: 1.25rem;
  font-size: 1.25rem;
  margin-bottom: 0.3rem;
}

.connect-accounts {
  margin-top: 0;
  padding-top: 10px;
  padding-bottom: 25px;
}

.account-buttons {
  display: flex;
  justify-content: center; /* This will center the items horizontally */
  align-items: center; /* This will center the items vertically */
  gap: 125px; /* This adds space between the flex items */
  margin-bottom: 25px;
}

.account-buttons img {
  width: 200px;
  height: auto;
  cursor: pointer;
}

.account-buttons img:hover {
  opacity: 50%;
}

/* Info Grid */

.grid-container {
  /* display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr; */
  padding-bottom: 100px;
}

.grid-header {
  font-size: 30px;
  /* margin-bottom: 20px;
  padding: 0 15px 0 15px; */
}

.tutorials {
  /* grid-column: 1 / 2; */
  padding-left: 20px;
}

.tutorials iframe {
  width: 700px;
  height: 500px;
}

/* Input Forms */

.accounts-column {
  /* grid-column: 2 / 3; */
  font-size: 40px;
  /* margin-left: 75px; */
}

.accounts {
  padding-top: 20px;
  line-height: 5rem;
}
.text-input {
  font-size: 30px;
  padding: 10px;
  border-radius: 10px;
}

.submit-buttons {
  /* grid-column: 3; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: none;
}

/* Hides the default file input button styling */
input[type="file"] {
  color: transparent;
}

/* Custom styles */
input[type="file"]::before {
  content: "Choose File";
  display: inline-block;
  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE/Edge */
  user-select: none; /* Standard syntax */
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
  color: black;
}

/* Changes the text color back from transparent to default (usually black) on hover */
input[type="file"]:hover::before {
  border-color: black;
}

/* Use :active pseudo-class to change styles when the input is clicked */
input[type="file"]:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

#file-label {
  font-size: 0.75em;
}

#file-name {
  font-size: 0.5em;
  padding-left: 10px;
  color: black;
}

/* Submit Buttons */

.submit-buttons {
  display: flex;
  flex-direction: column;
}

.submit-buttons img {
  margin-top: 50px;
  height: 100px;
  width: 100px;
}

.styled-button {
  /* Visual styles */
  padding: 10px 15px;
  background-color: #f0e6d2; /* A very light #e7e7d9, similar to default #e7e7d9 */
  color: #020035ea;
  border: 2px solid #e2d1c3; /* A border that's slightly darker than the button's background */
  border-radius: 5px;
  font-size: 1.25em;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 20px;
}

/* Interactive states */
.styled-button:hover {
  background-color: #ede4da; /* A slightly lighter shade for hover */
  border-color: #e2d1c3; /* Adjust border color for a smooth transition */
}

.styled-button:active {
  background-color: #e2d1c3; /* An even lighter shade when active/clicked */
  box-shadow: 0 2px #c2b1a1; /* Deeper shadow to simulate pressing */
  transform: translateY(2px);
}

/* Show Assets Container */

.show-assets-container {
  padding: 0 0 125px;
}

.show-assets-container a {
  text-decoration: none;
  font-size: 4em;
}
/* 
@media only screen and (max-width: 430px) and (orientation: portrait) {

.welcome-text p::after{
  content: "For full website functionality, please turn your phone to landscape mode or view coinmerge.co on your computer.";
}

.welcome {
  background: #1c79c0;
  font-size: 1em;
  padding: 1rem;
  margin: 0;
  text-align: center;
}

.welcome-text p {
  width: 100%;
}

#learn {
display: none;
}

.connect-section {
  display:none;
}

}

@media only screen and (max-width: 844px) and (orientation: landscape) {

  .account-buttons img {
    width: 150px;
  }

  .tutorials iframe {
    margin-top: 100px;
    width: 300px;
    height: 300px;
  }

  .styled-button {
    
    font-size: .75rem;
  }

}

@media only screen and (max-width: 932px) and (orientation: landscape) {

  .connect-accounts {
    padding-left: 1rem;
    padding-right: 2rem;
  }

  .welcome-text p {
    font-size: 1.5rem;
  }
  
  .welcome-text a {
    font-size: 1.5rem;
  }

  #learn {
    font-size: 1.5rem;
  }

  .tutorials iframe {
    margin-top: 100px;
    width: 300px;
    height: 300px;
  }

  .grid-header {
    font-size: 1.1rem;
  }

  .text-input {
    font-size: 1rem;
  }

  .accounts form {
    margin-top: 0;
  }

  .submit-buttons {
    font-size: .5rem;
  }


} */
