iframe {
    width: 1000px;
    height: 500px;
}

.tutorial-title {
    flex: 1;
    display: flex; 
    justify-content: center;
    align-items: center;
}

.iframe-container {
    flex: 1;
    display: flex; 
    justify-content: center;
    align-items: center;
}