<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>View Assets</title>
    <link rel="icon" href="/static/images/favicon.png" type="image/x-icon" />
    <link rel="shortcut icon" href="/static/images/favicon.png" type="image/x-icon" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Libre+Franklin&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/css/global.css" />
    <link rel="stylesheet" href="/static/css/about.css" />
    <link rel="stylesheet" href="/static/css/assets.css" />
    <link rel="stylesheet" href="/static/css/styles.css" />
    <link
    href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
    rel="stylesheet"
  />
  </head>
  <body>

    <header
    class="flex flex-row items-center justify-between text-white md:px-4"
    style="background-color: #020035"
  >
    <a href="/index.html" class="flex flex-row items-center justify-center">
      <img
        src="/static/images/logo.png"
        class="logo"
        alt="logo"
        style="width: 75px; height: 75px"
      />
      <h1 class="text-2xl font-semibold">CoinMerge</h1>
    </a>
    <nav class="flex flex-row space-x-4 pr-3">
      <a
        href="/index.html"
        id="home-but"
        class="text-lg hover:text-gray-500 transition duration-200 hidden md:block font-semibold"
        >Home</a
      >
      <a
        href="/templates/about.html"
        id="about-but"
        class="text-lg hover:text-gray-500 transition duration-200 font-semibold"
        >About</a
      >
      <a
        href="/templates/tutorials.html"
        id="tut-but"
        class="text-lg hover:text-gray-500 transition duration-200 hidden md:block font-semibold"
        >Tutorials</a
      >
      <a
        href="https://kyancox.com/"
        target="_blank"
        class="text-lg hover:text-gray-500 transition duration-200 font-semibold"
        ><button class="font-semibold">Contact</button></a
      >
    </nav>
  </header>
  
    <main>
      <div class="background">
        <div class="no-content" id="no-content" style="display:none;">
          <h1>
            <a href="../index.html"
              >Please link your accounts on the home page to view your
              assets.</a
            >
          </h1>
        </div>

        <div class="assets" id="assets" style="display: none;">
          <h1 id="assets-header">Your Assets</h1>

          <div class="header-container">
            <div class="portfolio-dropdown">
              <label for="portfolio-select">Choose a portfolio:</label>
              <select id="portfolio-select">
                <option value="master">Master</option>
                <option value="coinbase">Coinbase</option>
                <option value="ledger">Ledger</option>
                <option value="gemini">Gemini</option>
              </select>
            </div>

            <button id="download-xlsx-button" class="styled-button">
              Download Master XLSX
            </button>
          </div>

          <table id="assets-table">
            <thead>
              <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Amount</th>
                <th>Balance</th>
                <th>Real-Time Price</th>
                <th>Exchanges with Asset</th>
              </tr>
            </thead>
            <tbody>
              <!-- JavaScript will insert rows here -->
            </tbody>
          </table>
        </div>
      </div>
    </main>

    <footer>
        <p>&copy; 2024 CoinMerge by Kyan Cox. All rights reserved.</p>
      </footer>
  

    <script type="module" src="/static/js/assets.js"></script>
  </body>
</html>
