<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CoinConnect</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/css/global.css" />
    <link rel="stylesheet" href="/static/css/styles.css" />
  </head>
  <body>
    <header>
      <nav class="navbar">
        <div class="logo">CoinConnect</div>
        <div class="nav-links">
          <a href="index.html" class="nav-item">Home</a>
          <a href="about.html" class="nav-item">About</a>
          <a href="tutorials.html" class="nav-item">Tutorials</a>
        </div>
      </nav>
    </header>

    <main>
      <section>
        <div class="welcome">
          <div class="welcome-text">
            <h1>Welcome to CoinConnect</h1>
            <p>
              CoinConnect is a web-app where you can view all of your
              cryptocurrency assets from
              <a
                href="https://www.coinbase.com/"
                target="”_blank”"
                class="exchange-name"
                >Coinbase</a
              >,
              <a
                href="https://www.gemini.com/"
                target="”_blank”"
                class="exchange-name"
                >Gemini</a
              >, and
              <a
                href="https://www.ledger.com/ledger-live"
                target="”_blank”"
                class="exchange-name"
                >Ledger Live</a
              >
              in one place. The app utilizes your API keys from your Coinbase
              and Gemini accounts, as well as a CSV file of your assets from
              Ledger Live. Connect your API keys and CSV file to get started
              now!
            </p>
          </div>
          <a href="about.html" id="learn">About #</a>
        </div>
      </section>

      <section class="connect-section">
        <div class="connect-accounts">
          <h2>Connect Your Accounts</h2>
          <p id="instructions">
            Start by clicking on one of the icons to fill in your account
            information. <br />
            Once you click an icon, a tutorial will appear on how to obtain the
            needed information.
          </p>
        </div>
        <div class="account-buttons">
          <img
            src="/static/images/coinbase.png"
            alt=""
            class="account-button"
            onclick="showDiv('coinbase')"
            draggable="false"
          />
          <img
            src="/static/images/ledger.png"
            alt=""
            class="account-button"
            onclick="showDiv('ledger')"
            draggable="false"
          />
          <img
            src="/static/images/gemini.png"
            alt=""
            class="account-button"
            onclick="showDiv('gemini')"
            draggable="false"
          />
        </div>

        <div class="grid-container">
          <div class="tutorials" style="display: none">
            <h3 class="grid-header" id="tutorial-text">Tutorial for :</h3>
            <iframe
              width="1280"
              height="712"
              src="https://www.youtube.com/embed/f66lxniu0Ks"
              title="Big.Buck.Bunny sample"
              frameborder="0"
              allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen
            ></iframe>
          </div>

          <div class="accounts-column">
            <h3 class="grid-header" id="info-header" style="display: none">
              Information:
            </h3>

            <div class="accounts">
              <div id="connect-coinbase" style="display: none">
                <!-- Coinbase API Key Form -->
                <form
                  action="http://127.0.0.1:5000/api/coinbase/keys"
                  method="post"
                >
                  <label for="coinbaseApiKey">Coinbase API Key:</label>
                  <input
                    type="text"
                    id="coinbaseApiKey"
                    name="api_key"
                    placeholder="API Key"
                    class="text-input"
                  />
                  <br />
                  <label for="coinbaseApiSecret">Coinbase API Secret:</label>
                  <input
                    type="text"
                    id="coinbaseApiSecret"
                    name="api_secret"
                    placeholder="API Secret"
                    class="text-input"
                  />
                </form>
              </div>

              <div id="connect-gemini" style="display: none">
                <!-- Gemini API Key Form -->
                <form
                  action="http://127.0.0.1:5000/api/gemini/keys"
                  method="post"
                >
                  <label for="geminiApiKey">Gemini API Key:</label>
                  <input
                    type="text"
                    id="geminiApiKey"
                    name="api_key"
                    placeholder="API Key"
                    class="text-input"
                  />
                  <br />
                  <label for="geminiApiSecret">Gemini API Secret:</label>
                  <input
                    type="text"
                    id="geminiApiSecret"
                    name="api_secret"
                    placeholder="API Secret"
                    class="text-input"
                  />
                </form>
              </div>

              <div id="connect-ledger" style="display: none">
                <!-- Upload Ledger CSV Form -->
                <form
                  action="/api/ledger/upload-csv"
                  method="POST"
                  enctype="multipart/form-data"
                >
                  <label for="file">File:</label>
                  <br />
                  <input type="file" id="file" name="file" /> <br />
                </form>
              </div>
            </div>
          </div>

          <div class="submit-buttons">
            <input
              type="submit"
              value="Set Coinbase Keys"
              style="display: none"
              id="submit-coinbase"
              class="styled-button"
            />
            <input
              type="submit"
              value="Set Gemini Keys"
              style="display: none"
              id="submit-gemini"
              class="styled-button"
            />
            <button
              style="display: none"
              class="styled-button"
              id="submit-ledger"
            >
              Upload
            </button>
            <img src="/static/images/loading.gif" id="loading-gif" style="display:none;" alt="">
            <img src="/static/images/checkmark.png" id="coinbase-check" style="display:none;">
            <img src="/static/images/checkmark.png" id="gemini-check" style="display:none;">
            <img src="/static/images/checkmark.png" id="ledger-check" style="display:none;">
          </div>
        </div>
        <!-- add input tracker section, add view assets button  -->
        <h3 id="loaded">Loaded:</h3>
        <a href="">Show Assets</a>
      </section>
    </main>

    <footer>
      <p>&copy; 2024 CoinConnect. All rights reserved.</p>
    </footer>

    <script>
      function showDiv(id) {
        // Hide all divs
        document.getElementById("connect-coinbase").style.display = "none";
        document.getElementById("connect-gemini").style.display = "none";
        document.getElementById("connect-ledger").style.display = "none";
        document.getElementById("submit-coinbase").style.display = "none";
        document.getElementById("submit-gemini").style.display = "none";
        document.getElementById("submit-ledger").style.display = "none";
        document.getElementsByClassName("tutorials")[0].style.display = "none";

        accountName = id.charAt(0).toUpperCase() + id.slice(1);

        // Show the selected div
        document.getElementById("connect-" + id).style.display = "block";
        // Update instructions text
        document.getElementById("instructions").textContent =
          "To view your balances, please provide API keys from Coinbase & Gemini, as well as a CSV file from your Ledger Live application.";
        // Update tutorial text
        document.getElementById("tutorial-text").textContent =
          "Tutorial for " + accountName + ":";
        // Update information text
        document.getElementById("info-header").style.display = "block";
        document.getElementById("info-header").textContent =
          "Enter " + accountName + " information below:";
        // Show tutorial block
        document.getElementsByClassName("tutorials")[0].style.display = "block";
        // Show submit button
        document.getElementById("submit-" + id).style.display = "block";
      }
    </script>

    <script type="module" src="/static/js/index.js"></script>
  </body>
</html>
